<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
<nav class="navbar navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1 text-white">Facebook App</span>
    <div class="d-flex justify-content-end">
        <div><a class="btn btn-outline-light bg-success text-white" th:href="@{/signup}">Sign Up</a></div>
        <div><a class="btn btn-outline-light bg-primary text-white ml-3"  th:href="@{/login}">Login</a></div>
    </div>
</nav>
<div class="container">


</div>
</body>
</html>